<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Your current plan is:  (get from subscription service)</h1>
<ion-button (click)="managePlan()">Manage Plan</ion-button>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
